{% extends 'base.html' %}

{% block content %}

    <div>
        <div style="text-align: center; background-color: #F8F8FF;">
            {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt="" style="height: 13rem; width: 13rem; border-radius: 10rem; object-fit: cover;">
            <h2 style="font-family: 'NanumSquareB'; margin-top: 1rem; text-align: center">
            {{ target_user.profile.nickname }}
            </h2>
            <h5 style = "margin: 1rem auto; ">
                {{ target_user.profile.message }}
                {% if target_user == user %}
                    <a class = "material-icons" style = "width: 2px;"
                        href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        edit
                    </a>
                {% endif %}
            </h5>

            {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <h2 style="font-family: 'NanumSquareB'">
                        Create Profile
                    </h2>
                </a>
                {% else %}
                <h2>
                    닉네임 미설정
                </h2>
                {% endif %}
            {% endif %}

            {% if target_user == user %}
            <div style = "margin: 1rem auto 2rem auto;">
                <a class="material-icons" style = "padding: .4rem; box-shadow: 0 0 2px #ccc; border-radius: 1rem"
                        href = "{% url 'accountapp:update' pk=target_user.pk %}">
                        settings
                </a>
                <a class="material-icons" style = "padding: .4rem; box-shadow: 0 0 2px #fcc; border-radius: 1rem;"
                        href = "{% url 'accountapp:delete' pk=target_user.pk %}">
                        cancel
                </a>
            </div>
            {% endif %}
            <span>&nbsp</span>
        </div>
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

{% endblock %}